<h1>All Villagers</h1>

<% @villagers.each do |villager| %>
  <h3><%= villager.name %></h3>
  <p>Personality: <%= villager.personality %></p>
  <p>Frienship Level: <%= villager.friendship_level %></p>
  <p>Dream Home: <%= villager.dream_home %></p>
  <p>Home base: <%= villager.island_id %></p>
<% end %>
